
#photofeed{
	background-color: rgb(237, 238, 239);

	.main {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		position: relative;

		.photo-column {
			display: block;
			float: left;
			width: 224px;
			padding: 14px 7px 39px 7px;
		 
		  h2 {
		  	width: 210px;
		  	border-top: 1px solid rgba(0,0,0,0.1);
		  	margin-left: auto;
		  	margin-right: auto;
		  	text-align: left;
		  	a{
		  		display: inline-block;
		  		margin-top: 14px;
		  		margin-bottom: 21px;
					font-size: 21px;
					color: #B5B8BA;

					&:hover {
						text-decoration: underline;
						color: rgba(0,0,0,0.4);
					}
				}
			}
		}
	}
}