// SCSS for Photo element. 
// The Photo element has vote buttons. It is the default element used in photofeed, topic, and profile pages.

.vote-photo-element {
	width: 216px;
	display: inline-block;
	vertical-align: text-top;
	margin-bottom: 20px;
	background: white;
	box-shadow: 0 1px 16px rgba(0, 0, 0, 0.06);

	.image-container {
		text-align: center;
		line-height: 184px;
		background: white;
		padding: 8px;
		border: 1px solid #E0E0DF;

		img {
			display: block;
			width: 200px;
			min-height: 75px;
			margin-left: auto;
			margin-right: auto;
			vertical-align: middle;
			-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.04), 0 1px 5px rgba(0,0,0,0.1);
			cursor: -webkit-zoom-in;
			cursor: -moz-zoom-in;
			cursor: zoom-in;
		}
	}

	.image-rater {
		z-index: 2;
		width: 214px;
		height: 35px;
		border-left: 1px solid #E0E0DF;
		border-right: 1px solid #E0E0DF;
		border-bottom: 1px solid #E0E0DF;
		background: white;
		color: #8B8E91;
		line-height: 26px;
		font-family: "entypo";
		font-size: 27px;
		cursor: default;
		text-align: center;

		.vote {
			float: left;
			width: 35px;
			height: 31px;
			padding-top: 4px;
			cursor: pointer;

			&.downvote {
				float: right;
			}

			&:hover {
				background: rgba(0, 0, 0, 0.04);
			}

			&.upvote {
				border-right: 1px solid #ddd;

				&.selected {
				  color: #66af33; 		
				}
			}

			&.downvote {
				border-left: 1px solid #ddd;

				&.selected {
				  color: red;					
				}
			}
		}

		.rating-number {
			float: left;
			width: 140;
			height: 25px;
			padding-top: 8px;
			font-size: 17px;
			text-align: center;
		}
	}

	.image-actor-info {
		position: relative;
		height: 51px;
		border-left: 1px solid #E0E0DF;
		border-right: 1px solid #E0E0DF;
		border-bottom: 1px solid #E0E0DF;
		font-size: 12px;

		&:hover .actor-photo {
			transition: 120ms;
			opacity: 1.0;
		}

		&:hover .name a {
			transition: 120ms;
			color: rgb(160,160,160);
		}

		.actor-photo {
			position: absolute;
			top: 7px;
			left: 7px;
			height: 36px;
			width: 36px;
			opacity: 0.4;
		}
		
		.name, .date {
			
		}

		.name {
			position: absolute;
			top: 7px;
			left: 51px;
			a {
				color: #B5B8BA;
				font-weight: bold;
				&:hover {
					text-decoration: underline;
					color: rgb(160,160,160);
				}
			}
		}

		.date {
			position: absolute;
			top: 28px;
			left: 51px;
			span {
				color: rgba(0,0,0,0.4);
				cursor: default;
			}
		}
	}
}